{
  "service": {
    "api": "http",
    "port": 4242
  },
  "cache": {
    "backend": "thread_shared"
  },
  "http": {
    "script_names": [
      "\/tatodetect"
    ]
  },
  "localization": {
    "encoding": "utf-8",
    "messages": {
      "paths": [
        "..\/locale"
      ],
      "domains": [
        "hello"
      ]
    },
    "locales": [
      "en_GB.UTF-8",
      "fr_FR.UTF-8"
    ]
  },
  "session": {
    "expire": "renew",
    "timeout": 604800,
    "location": "server",
    "server": {
      "storage": "memory"
    }
  },
  "tatodetect": {
    "web": "http:\/\/127.0.0.1:4242\/",
    "interfacelangs": [
      [
        "en",
        "en_GB.UTF-8",
        "English"
      ],
      [
        "fr",
        "fr_FR.UTF-8",
        "Fran\u00e7ais"
      ]
    ],
    "sqlite3": {
      "path": "{{ngrams_db_file}}"
    }
  }
}
