<suggestd>
    <param name=\"charset\" value=\"utf8\"/>
    <mysql host=\"localhost\" user=\"{{mysql_user}}\" passwd=\"{{mysql_password}}\" db=\"{{mysql_db_name}}\">
        <query str=\"select name , nbrOfSentences from tags;\" />
    </mysql>
</suggestd>