info.php


# config
app/config/core.php
app/config/database.php

# audio files
app/webroot/files/audio

# cache
app/tmp/cache
app/tmp/cache/models
app/tmp/cache/persistent
app/tmp/cache/views


# By default, "./cake/console/cake i18n extract" writes files here. Ignore them.
app/locale/default*.pot

# unit test
app/vendors/simpletest

## python related files

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
*.db

# Sphinx documentation
docs/_build/
