Django==1.7
argparse==1.2.1
py==1.4.25
pytest==2.6.3
pytest-django==2.7.0
wsgiref==0.1.2
MySQL-python==1.2.5
termcolor==1.1.0
pytz==2014.7
-e git+https://github.com/Tatoeba/dj-tatoeba2.git#egg=tatoeba2
