/* **************** *\
 * 		LOGS 		*
\* **************** */

#logs td{
padding: 3px;
}

#logsLegend{
margin: 20px 0px;
text-align: center;
}

#logsLegend span{
padding: 2px 5px;
}

.sentenceAdded{
background: #b1f090;
}

.sentenceModified{
background: #96e0fc;
}

.sentenceDeleted{
background: #f5aa98;
}

.translationAdded{
background: #CCFF99;
}

.translationDeleted{
background: #ecc7f2;
}

.correctionSuggested{
background: #f7e969;
}