body{
margin: auto;
font-family: trebuchet ms, sans;
padding-bottom: 10px;
}

table{
border-collapse:collapse;
/* cell-spacing: 0px; */
width:100%;
}

a{
text-decoration: none;
font-weight: bold;
}

h2, h3{
font-variant: small-caps;
}

h3{
margin-left: 20px;
margin-right: 20px;
border-bottom: 1px dotted;
}

form{
margin: 0px;
}

/* TOP */

#top1, #content, #foot, #top2, #menu{
width: 780px;
margin: auto;
}

#top1 .online_visitors{
float:left;
margin-right: 20px;
width: 200px;
text-align:center;
}

#top1 .language_choice, #top1 .online_visitors, #foot{
padding: 2px;
font-size: 12px;
}

#top1 .logout{
float:right;
padding: 2px 10px;
font-size: 12px;
}


#top2{
padding: 10px;
overflow:visible;
min-height: 70px;
}

.tatoeba_title{
margin-left: 10px;
float:left;
font-size: 48px;
}

.tatoeba_title em{
font-size: 50%;
font-style:normal;
}

/* USER MENU */

#user_menu{
overflow: hidden;
margin-right: 5px;
font-size: 12px;
text-align:right;
}

#user_menu .login_form{
float:right;
}

#user_menu .login_form span, #user_menu .login_the_rest span{
display: block;
}

#user_menu .login_the_rest{
overflow:hidden;
float:right;
margin: 15px 10px;
text-align: center;
}

#user_menu .login{
width: 100px;
}

#user_menu div{
margin: 3px;
}
#user_menu a{
margin: 5px;
}


/* MENU */

#menu ul{
margin: 0px;
padding: 0px;
text-align:center;
padding: 5px;
font-size: 11px;
}

#menu li{
list-style: none;
text-transform:uppercase;
display: inline;
margin: 0px;
padding: 5px;
}

#menu .current{
font-size: 18px;
padding: 10px;
padding-bottom:5px;
}

#menu a{
text-decoration:none;
}


/* CONTENT */

#content{
font-size: 13px;
}

.search_bar{
padding: 7px 15px;
text-align:center;
}

.search_bar .query{
width: 50%;
}

.container1{
padding:5px 15px 15px 15px;
}

#foot{
text-align:center;
}

/* Everything that is below needs some cleaning because colors and structure is still all mixed up. */

/* SENTENCES */
.sentences{
margin: 10px 0px;
border-left: #75C34B 2px solid;
}

.sentences .id{
font-size: 13px;
padding:1px 5px;
background: #D3F3B9;
}

.sentences .id a{
padding:1px 5px;
}

.options{
float:right;
}

.sentences .score{
font-size: 11px;
margin-right: 5px;
color:#717171;
}

.sentence td{
border-bottom: 1px solid #f1f1f1;
}

.sentences .sentence .lang{
width: 5%; /* you would need to use percentage because otherwise it bugs in IE7 if the user saves one small word */
text-align: center;
padding:1px 5px;
}

.sentence .original{
padding:1px 5px;
text-align:left;
}

.sentence .roman{
color: #adadad;
padding:1px 5px;
text-align:left;
}

.linkedWords{
color: #0082bd;
}
.searchWord{
font-weight: bold;
border-bottom: 2px solid #747474;
}

.by{
float:right;
font-size:13px;
font-style:italic;
margin-right:5px;
}

/* =============== browse =============== */
.browseid{
float:right;
}
.browseid a{
margin: 7px;
}
.browse .header{
margin: 10px 0px;
}


/* =============== edit =============== */

.editform table{
width: 85%;
}

.editform input{
margin: 0px;
font-size: 100%;
margin:3px 0px;
}

.editform .lg{
width:25px;
font-weight:bold;
padding-right: 3px;
margin:3px 0px;
text-align:center;
}

.editform .original, .editform .roman{
overflow:hidden; 
height:18px; 
padding:1px;
font-size: 13px;
}

.editform .original{
width:99%;
}

.editform .roman{
color: #415a63;
font-style:italic;
border: 1px solid #a1a1a1;
width: 88%;
}

.indication{
margin:10px 0px;
border: 2px solid;
padding:5px;
}

/* ================== EDIT IN PLACE  ================ */
form.inplaceeditor-form { 
}

form.inplaceeditor-form .editor_field { 
width:83%;
}

form.inplaceeditor-form textarea{
}

form.inplaceeditor-form .editor_button{
padding: 0px 3px;
}

.romaji_corrections form.inplaceeditor-form .editor_ok_button{
background: #319e43;
color:white;
}

form.inplaceeditor-form a{
margin-left:2px;
}

/*========= ROMAJI ==========*/
.romaji_corrections ul{
list-style: none;
margin: 20px 0px;
padding: 0;
}

.romaji_corrections li{
padding: 2px 5px;
}

/* ================ error =============== */
.error{
color:#C50D0D;
font-weight:bold;
margin: 10px 0px;
}
.errorNoBg{
color:#C50D0D;
font-weight:bold;
padding-left: 30px;
}

/* =============== logs =============== */

.legend{
font-size:13px;
text-align:center;
margin-bottom: 10px;
}

.legend a{
color: black;
}

.logs table{
width:100%;
}

.logs tr{
border-bottom:1px solid white; 
}

.logs .id, .logs .who, .logs .when, .logs .lang{
text-align:center;
padding: 0px 10px;
}

.logs .logsentence{
width:60%;
text-align:left;
}

/* =============== stats =============== */
.stats table{
width:auto;
}
.stats td, .stats th{
padding: 2px 10px;
text-align:center;
border-bottom: 1px solid #656565;
}
.stats .database{
width:40%;
margin-bottom:30px;
}
.stats h3{
margin-top: 0px;
}
.stats .user{
float:right;
}

#user_stats{
float:right;
}

/* ================ registration =============== */

.register{
border: 1px solid #9DCE61;
padding: 2px 5px;
background: #86C663;
}

.registration table{
width:500px;
}

.registration .field{
text-align:right;
padding: 2px 10px;
border-bottom: 1px solid #898989;
}

.registerbutton input{
width: 200px;
margin: 20px;
}

.registerbutton{
text-align:center;
}

/* DOCUMENTATION */


#documentation th{
text-align: left;
border-bottom: 1px solid;
}

.evaluation_legend{
margin: 15px 0px;
}

.evaluation_legend td{
width: 22%;
padding: 0px 15px;
text-align:center;
}

.evaluation_legend img{
margin: 0px;
padding: 0px;
}



.website{
border: 1px solid #c1c1c1;
margin: 5px;
}

.website .name{
background: #D3F3B9;
padding: 5px;
}

.website .name span{
margin: 20px;
}

.website .links{
padding: 5px;
}

a{
text-decoration:none;
color: #0D4A22;
}

a:hover{
color: red;
}

.website img{
border: none;
padding: 10px;
margin: 10px;
}


/* ============== LOGS  ============== */

.css1{ /* sentence suggested */
background: #eef2a0;
}

.css2{ /* modification suggested */
background: #c8e2ea;
}

.css3{ /* modified pending */
background: #bbc4e5;
}

.css4{ /* validated */
background: #b1f090;
}

.css5{ /* refused */
background: #f5aa98;
}

.css6{ /* deleted from waiting list */
background: #c0c0c0;
}

.css7{ /* deleted from dico */
background: #ecc7f2;
}


.css8{ /* added */
background: #f7e969;
}

.css9{ /* modified */
background: #96e0fc;
}


/* ================== NEW/VALIDATED  ================ */
.css00{ /* Modification */
background: #c4e3ee;
}

.css10{ /* Modication validated */
background: #9ab2ff;
}

.css01{ /* New sentence */
background: #d9ffa7;
}

.css11{ /* New sentence validated */
background: #91f684;
}


/*  ================== SENTENCE STATUS ================== */
.o1 .lang{ /* original sentence */
font-weight:bold;
text-decoration: underline;
}

.score_0{ /* wrong sentence */
color: #CD1821;
background:#FDDEF3;
}

.score_1{ /* correct but... */
color: #8C6304;
background: #FFF1D1;
}

.score_2{ /* correct */
color: #5FBB33;
background: #D8FFC5;
}

/*  ================== BUTTONS ================== */
.save input{
background:#ca2c05;
color: white;
}

/*  ================== EDIT ================== */
.pend textarea{
background: #e1e1e1;
}

.editform .lg{
color:black;
}

.editform .fr{
background: url(../images/flags/fr.png) center right no-repeat;
}

.editform .en{
background: url(../images/flags/en.png) center right no-repeat;
}

.editform .es{
background: url(../images/flags/es.png) center right no-repeat;
}

.editform .jp{
background: url(../images/flags/jp.png) center right no-repeat;
}

.editform .de{
background: url(../images/flags/de.png) center right no-repeat;
}

/*  ================== SENTENCES ================== */
.validations .roman{
font-style: italic;
color: #634834; 
}


/*  ================== logs stats ================== */
.color_legend{
color: black;
overflow: hidden;
width: 100%;
margin-bottom: 20px;
}

div.container{
overflow: hidden;
width: 100%;
}

.logs_stats{
font-family: Trebuchet MS;
font-size: 11px;
text-align:center;
padding: 10px 2px;
margin: 2px;
width: 80px;
float:left;
color:black;
}

.logs_stats strong{
font-size: 140%;
display:block;
}

.color0{
background: #C6E298;
}

.color1{
background: #CDDE7F;
}

.color2{
background: #D4DA67;
}

.color3{
background: #DAD54F;
}

.color4{
background: #E1D136;
}

.color5{
background: #BABF1E;
}

.color6{
background:#BAAE1E;
}

.color7{
background: #BA8D1E;
}

.color8{
background: #BA6C1E;
}

.color9{
background: #BA4B1E;
}

.color10{
background: #de4416;
}

/* ============= TRANSLATION PRACTICE =========== */
.to_translate{
	font-size: 130%;
	font-weight: bold;
}

.translation{
	background: #b1f090;
	margin: 10px 0px;
}

.not_translated_yet{
	background: #f5aa98;
}

.user_answer{
	font-size:
}

/* ================== words count ==================== */
#mfw{
padding:5px;
}

#submfw{
color: #c34b91;
display: inline;
margin-right: 20px;
}


body{
color: #434343;
}

a{
color: #257d0c;
}

a:hover{
color: #a53810;
}

#top1, #content, #top2, #menu{
border-left: 1px solid #93D771;
border-right: 1px solid #93D771;
}

#top2{
background: #75C34B;
color: #0d4a22;
}

#menu ul{
background: #414141;
}

#menu .current{
background: #D3F3B9;
border: 1px solid white;
border-bottom: none;
}

#menu .current a{
color: #414141;
}

#menu a{
color: white;
}

#menu a:hover{
color: #FB6B10;
}

#content{
background: white;
border-bottom: 5px solid #93D771;
}

.search_bar{
background: #D3F3B9;
}
