body{
margin: auto;
font-family: trebuchet ms, sans;
padding-bottom: 10px;
}

table{
border-collapse:collapse;
/* cell-spacing: 0px; */
width:100%;
}

a{
text-decoration: none;
font-weight: bold;
}

h2, h3{
font-variant: small-caps;
}

h3{
margin-left: 20px;
margin-right: 20px;
border-bottom: 1px dotted;
}

form{
margin: 0px;
}

/* TOP */

#top1, #content, #foot, #top2, #menu{
width: 780px;
margin: auto;
}

#top1 .online_visitors{
float:left;
margin-right: 20px;
width: 200px;
text-align:center;
}

#top1 .language_choice, #top1 .online_visitors, #foot{
padding: 2px;
font-size: 12px;
}

#top1 .logout{
float:right;
padding: 2px 10px;
font-size: 12px;
}


#top2{
padding: 10px;
overflow:visible;
min-height: 70px;
}

.tatoeba_title{
margin-left: 10px;
float:left;
font-size: 48px;
}

.tatoeba_title em{
font-size: 50%;
font-style:normal;
}

/* USER MENU */

#user_menu{
overflow: hidden;
margin-right: 5px;
font-size: 12px;
text-align:right;
}

#user_menu .login_form{
float:right;
}

#user_menu .login_form span, #user_menu .login_the_rest span{
display: block;
}

#user_menu .login_the_rest{
overflow:hidden;
float:right;
margin: 15px 10px;
text-align: center;
}

#user_menu .login{
width: 100px;
}

#user_menu div{
margin: 3px;
}
#user_menu a{
margin: 5px;
}


/* MENU */

#menu ul{
margin: 0px;
padding: 0px;
text-align:center;
padding: 5px;
font-size: 11px;
}

#menu li{
list-style: none;
text-transform:uppercase;
display: inline;
margin: 0px;
padding: 5px;
}

#menu .current{
font-size: 18px;
padding: 10px;
padding-bottom:5px;
}

#menu a{
text-decoration:none;
}


/* CONTENT */

#content{
font-size: 13px;
}

.search_bar{
padding: 7px 15px;
text-align:center;
}

.search_bar .query{
width: 50%;
}

.container1{
padding:5px 15px 15px 15px;
}

#foot{
text-align:center;
}



a{
text-decoration:none;
color: #0D4A22;
}

a:hover{
color: red;
}



body{
color: #434343;
}

a{
color: #257d0c;
}

a:hover{
color: #a53810;
}

#top1, #content, #top2, #menu{
border-left: 1px solid #93D771;
border-right: 1px solid #93D771;
}

#top2{
background: #75C34B;
color: #0d4a22;
}

#menu ul{
background: #414141;
}

#menu .current{
background: #D3F3B9;
border: 1px solid white;
border-bottom: none;
}

#menu .current a{
color: #414141;
}

#menu a{
color: white;
}

#menu a:hover{
color: #FB6B10;
}

#content{
background: white;
border-bottom: 5px solid #93D771;
}

.search_bar{
background: #D3F3B9;
}

/* ---------------------------------------- */

#homepage .element{
margin-top: 30px;
}