/* LOG IN */
#Login{
margin: 30px 20px;
background: #f1f1f1;
border: 1px solid #a1a1a1;
width: 270px;
}

#UserLoginForm{
padding: 5px 20px;
margin: 0px 10px;
}

#UserLoginForm div.input{
font-size: 16px;
margin: 10px 0px;
}

#UserLoginForm div.input input{
display: block;
width: 200px;
}

#UserLoginForm .submit{
margin: 10px 0px 0px 5px;
}

#UserLoginForm div.submit input{
font-size: 16px;
}

#PasswordForgotten{
margin: 15px 30px;
}

/* REGISTER */
#ClickHereToRegister{
float:right;
margin: 60px 120px;
padding: 10px;
text-align:center;
width: 150px;
font-size: 20px;
border: 1px solid #75C34B;
background: #D3F3B9;
}

#UserRegisterForm{
padding: 20px;
padding-top: 10px;
}

#UserRegisterForm img, #UserRegisterForm .submit{
margin-left: 210px;
}

#UserRegisterForm .submit input{
font-size: 20px;
}

#UserRegisterForm div.input{
font-size: 16px;
margin: 10px 0px;
}

#UserRegisterForm div.input input{
display: block;
width: 250px;
}

#UserRegisterForm label{
width: 200px;
text-align: right;
margin-right: 10px;
float: left;
}

#UserRegisterForm .valid{
background:transparent url(../img/valid_16x16.png) no-repeat scroll right center;
}

#UserRegisterForm .error{
background:transparent url(../img/error_16x16.png) no-repeat scroll right center;
}

#UserRegisterForm .checking{
background:transparent url(../img/loading-small.gif) no-repeat scroll right center;
}

/* RETRIEVE PASSWORD and RESEND REGISTRATION MAIL */

#UserNewPasswordForm, #UserResendRegistrationMailForm{
background: #f1f1f1;
border: 1px solid #a1a1a1;
width: 230px;
padding: 20px;
padding-top: 10px;
margin: 20px;
}

#UserNewPasswordForm div.input, #UserResendRegistrationMailForm div.input{
margin: 10px 0px;
}

#UserNewPasswordForm div.input input, #UserResendRegistrationMailForm div.input input{
display: block;
width: 200px;
}

/* USER MENU */
#UserMenu{
float:right;
font-size: 15px;
text-align:right;
}

#UserMenu span{
padding-left: 20px;
}

#UserMenu div{
margin: 5px;
}


/* USERS LIST */
.users{
margin-bottom: 20px;
}

.users th{
background: #6CBC70;
border-bottom: #444444 2px solid;
padding: 10px 3px;
}

.users td{
text-align: center;
padding: 5px;
}

tr.altrow{
background: #DEF0C9;
}

.users th.num, .users th.actions{
background: white;
}

.users .num{
border-right: 1px solid #989898;
}

.users .actions{
border-left: 1px solid #989898;
}

/* EDIT USER */
#UserEditForm{
margin: 20px 0px;
font-size: 18px;
width: 560px;
}

#UserEditForm fieldset{
background: #DEF0C9;
border: 2px solid;
color: #444444;
}

#UserEditForm label{
width: 180px;
display: block;
float: left;
text-align: right;
padding: 0px 10px;
}

#UserEditForm div.input{
padding: 3px;
}

#UserEditForm div.input input{
font-size: 18px;
width: 300px;
border: 1px solid #989898;
}

#UserEditForm div.submit{
text-align: center;
margin-top: 10px;
}

#UserEditForm div.submit input{
font-size: 18px;
}

.editUser .actions{
margin: 10px;
float:right;
}

.editUser .actions li{
font-size: 20px;
border: 1px solid #555555;
margin: 10px;
padding: 5px;
background: #6CBC70;
text-align: center;
}

.editUser .actions a{
color: white;
}


/* RECENT USERS */

.recentUsers{
width: 500px;
text-align: center;
}

.recentUsers td{
padding: 2px 5px;
border: 1px solid #989898;
}

.recentUsers th{
text-align: center;
background: #767676;
color: white;
border: 1px solid #989898;
padding: 2px 5px;
}

/* USER PAGES*/
#usertop {
 position : relative ;

}

#usermenu {
position : absolute;
top : 0px ;
right:0px ;
float : right ;
}


/* USER SETTINGS */

#UserSettings form{
background: #f1f1f1;
border: 1px solid #a1a1a1;
width: 430px;
padding: 10px 20px;
margin-bottom: 20px;
}

#UserSettings div.submit{
margin-top: 15px;
}

#UserSettings div.input input{
margin: 0px 10px;
width: 200px;
}

#UserSettings div.input label{
display: block;
float: left;
width: 150px;
}