dt {
	font-weight:bold;
}

#main_content textarea, #main_content input[type=text], #main_content input[type=password] {
	padding:3px;
	margin:1px 0;
	border:1px solid #649B3D;
	background: #fff;
}

#main_content input[type=submit] {
	background:#649B3D;
	color:#fff;
	border:1px solid #649B3D;
}

#main_content textarea:focus, #main_content input[type=text]:focus, #main_content input[type=password]:focus {
	outline:2px solid #ffa;
}

#main_content label {
	cursor:pointer;
}

#flashMessage {
	background:#FDF9F9;
	border:#E7BABA;
	color:#C25252;
	padding:3px;
	margin:3px 0;
}

.message {
	
}

div.input label {
	display:block;
	float:left;
	width:160px;
}

span.edit_link {
	cursor:pointer;
	float:right;
}

div.toolbox {
	background:#fff;
	position:absolute;
	display:none;
	margin:3px 0 0;
	border:1px solid #649B3D;
	max-width:500px;
}

div.toolbox div.t {
	padding:3px;
	border-bottom:1px solid #649B3D;
}

div.toolbox div.t span.x {
	cursor:pointer;
	float:right;
	color:#f00;
	background:transparent;
}

div.toolbox div.c {
	padding:3px;
}

div.toolbox div.c label {
	float:left;
	width:60px;
	text-align:right;
	padding-right:3px;
	margin-bottom:3px;
}
div.toolbox div.c input[type=text], div.toolbox div.c input[type=password] {
	width:180px;
}

div.toolbox div.c textarea {
	width:320px;
	height:60px;
}

/*
	TODO: add :hover and :focus for more usability issues
*/
div.toolbox div.c input, div.toolbox div.c select {
	padding:1px;
	padding-right:3px;
	margin-bottom:3px;
	border:1px solid #649B3D;
	background: transparent;
}

div.toolbox div.c input[type=submit] {
	background:#649B3D;
	color:#fff;
}

div.toolbox div.c .submit {
	text-align:right;
}

#pimg {
	padding:1px;
	width:130px;
}
#pimg img {
	width:128px;
	height:128px;
}

div.profile_image_edit {
	background:#fff;
	display:none;
	position:absolute;
	width: 256px;
	margin:3px 0 0;
	padding:3px;
	border:1px solid #649B3D;
	text-align:right;
}
div.profile_image_edit input[type=file]{
	margin-bottom:3px;
}

div.profile_image_edit div.submit {
	
}