cmn_cluster{
background: #DFA921;
}

#sentencesMap div.fra_cluster{
background: #CCFE80;
}

#sentencesMap div.eng_cluster{
background: #2B5497;
}

/* Top Members */
#topMembers{
	text-align: center;
}

#topMembers td{
	padding: 5px 3px;
}

#topMembers th{
	border-bottom: 1px #000000 solid;
}

#topMembers tr.admin{
	background-color: #FFCCCC;
}

#topMembers tr.normal{
}
