ul{
list-style: none;
margin: 0;
padding: 0;
}

/* navigation */
.navigation{
margin-bottom: 30px;
margin-top: 10px;
width: 100%;
}

.navigation ul{
display:inline;
padding-right: 100px;
}

.navigation li{
display:inline;
}

.navigation li.option a{
background: #D3F3B9;
padding: 3px 8px;
margin-right: 10px;
}

.navigation li.option a:hover{
background: #75C34B;
color: #D3F3B9;
}

#SentenceGoToForm{
float:right;
padding-left: 100px;
}

#SentenceGoToForm div.submit, #SentenceGoToForm div.input{
display: inline;
}

/* sentence menu */

.sentences_set ul.menu{
vertical-align: text-bottom;
overflow: hidden;
width: 100%;
}

.sentences_set .menu li{
display: inline;
font-size: 13px;
}

.sentences_set .menu .selected{
margin: 0px;
background: #D3F3B9;
padding: 10px;
font-size: 150%;
}

.sentences_set .menu li.option a{
padding: 4px 10px 3px 10px;
}

.sentences_set .menu li.option a:hover{
background: #75C34B;
color: #D3F3B9;
}

.sentences_set .menu li.delete a{
color: #a1a1a1;
}

.score{
display: block;
margin-right: 10px;
float: right;
}

.search .menu{
background: #D3F3B9;
}

/* sentence */
.search{
margin-bottom: 20px;
}

.sentences_set .sentence{
padding-top: 5px;
border: 1px solid #D3F3B9;
}

.sentences_set .sentence em{
background:#f1f1f1; 
padding: 0px 5px;
font-style:normal;
}

.sentences_set .sentence li.form{
padding: 5px;
}

.sentences_set .sentence .new{
padding: 10px 5px;
}



/* editing sentences */

.sentences_set div.submit{
display:inline;

}
.sentences_set div.input{
display:inline;
}

.sentences_set div.input input{
width: 80%;
}


/* types of sentence */

.original{
font-family: georgia;
font-size: 150%;
margin: 5px;
padding-left: 35px;
}

.direct{
padding: 5px;
padding-left: 35px;
margin: 0px 5px;
}

.translations{
padding-top:5px;
padding-bottom:5px;
margin-top:5px;
border-top: 1px dotted #D3F3B9;
}


/* sentences correctness */

.correctness1 a, .correctness1{
color: #878787;
font-weight: normal;
}

.correctness2 a, .correctness3 a, .correctness2, .correctness3{
color: #A38341;
font-weight: normal;
}

.correctness4 a, .correctness5 a, .correctness4, .correctness5{
color: #159121;
font-weight: normal;
}


/* sentences languages */
.en{
background:transparent url(../img/en.png) no-repeat scroll left center;
}

.jp{
background:transparent url(../img/jp.png) no-repeat scroll left center;
}

.fr{
background:transparent url(../img/fr.png) no-repeat scroll left center;
}

.de{
background:transparent url(../img/de.png) no-repeat scroll left center;
}

.es{
background:transparent url(../img/es.png) no-repeat scroll left center;
}