/* **************** *\
 * 		LOGS 		*
\* **************** */

#logs td{
padding: 3px;
}

#logs .text{
}

#logs .date{
width: 100px;
}

#logs .username{
width: 100px;
padding: 0px 5px;
text-align:center;
}

#logs .id{
padding: 0px 5px;
text-align:center;
}

#logs .lang{
width: 30px;
padding: 0px 5px;
text-align:center;
}


#logsLegend{
margin-top: 10px;
margin-bottom: 20px;
text-align: center;
}

#logsLegend span{
padding: 2px 5px;
}

.sentenceAdded{
background: #b1f090;
}

.sentenceModified{
background: #96e0fc;
}

.sentenceDeleted{
background: #f5aa98;
}

.translationAdded{
background: #CCFF99;
}

.translationDeleted{
background: #ecc7f2;
}

.correctionSuggested{
background: #f7e969;
}