body{
margin: auto;
font-family: trebuchet ms, sans;
padding-bottom: 10px;
}

table{
border-collapse:collapse;
/* cell-spacing: 0px; */
width:100%;
}

a{
text-decoration: none;
font-weight: bold;
}

h2, h3{
font-variant: small-caps;
}

h3{
margin-left: 20px;
margin-right: 20px;
border-bottom: 1px dotted;
}

form{
margin: 0px;
}

/* TOP */

#top1, #content, #foot, #top2, #menu{
width: 780px;
margin: auto;
}

#top1 .online_visitors{
float:left;
margin-right: 20px;
width: 200px;
text-align:center;
}

#top1 .language_choice, #top1 .online_visitors, #foot{
padding: 2px;
font-size: 12px;
}

#top1 .logout{
float:right;
padding: 2px 10px;
font-size: 12px;
}


#top2{
padding: 10px;
overflow:visible;
min-height: 70px;
}

.tatoeba_title{
margin-left: 10px;
float:left;
font-size: 48px;
}

.tatoeba_title em{
font-size: 50%;
font-style:normal;
}

/* LOG IN */
#Login{
margin: 30px 20px;
background: #f1f1f1;
border: 1px solid #a1a1a1;
width: 270px;
}

#UserLoginForm{

padding: 5px 20px;
margin: 0px 10px;
}

#UserLoginForm div.input{
font-size: 16px;
margin: 10px 0px;
}

#UserLoginForm div.input input{
display: block;
width: 200px;
}

#UserLoginForm .submit{
display: inline;
margin: 0px;
margin-left: 5px;
}

#UserLoginForm div.submit input{
font-size: 16px;
}

#PasswordForgotten{
margin: 15px 30px;
}

/* REGISTER */
#ClickHereToRegister{
float:right;
margin: 60px 120px;
padding: 10px;
text-align:center;
width: 150px;
font-size: 20px;
border: 1px solid #75C34B;
background: #D3F3B9;
}

#UserRegisterForm{
background: #f1f1f1;
border: 1px solid #a1a1a1;
width: 230px;
padding: 20px;
padding-top: 10px;
margin: 20px;
}

#UserRegisterForm div.input{
margin: 10px 0px;
}

#UserRegisterForm div.input input{
display: block;
width: 200px;
}

/* RETRIEVE PASSWORD */

#UserNewPasswordForm{
background: #f1f1f1;
border: 1px solid #a1a1a1;
width: 230px;
padding: 20px;
padding-top: 10px;
margin: 20px;
}

#UserNewPasswordForm div.input{
margin: 10px 0px;
}

#UserNewPasswordForm div.input input{
display: block;
width: 200px;
}

/* USER MENU */
#UserMenu{
float:right;
font-size: 13px;
}

#UserMenu span{
padding-left: 20px;
}

/* MENU */

#menu ul{
margin: 0px;
padding: 0px;
text-align:center;
padding: 5px;
font-size: 11px;
}

#menu li{
list-style: none;
text-transform:uppercase;
display: inline;
margin: 0px;
padding: 5px;
}

#menu .current{
font-size: 18px;
padding: 10px;
padding-bottom:5px;
}

#menu a{
text-decoration:none;
}


/* CONTENT */

#content{
font-size: 13px;
}

.container1{
padding:5px 15px 15px 15px;
}

#foot{
text-align:center;
}



a{
text-decoration:none;
color: #0D4A22;
}

a:hover{
color: red;
}



body{
color: #434343;
}

a{
color: #257d0c;
}

a:hover{
color: #a53810;
}

#top1, #content, #top2, #menu{
border-left: 1px solid #93D771;
border-right: 1px solid #93D771;
}

#top2{
background: #75C34B;
color: #0d4a22;
}

#menu ul{
background: #414141;
}

#menu .current{
background: #D3F3B9;
border: 1px solid white;
border-bottom: none;
}

#menu .current a{
color: #414141;
}

#menu a{
color: white;
}

#menu a:hover{
color: #FB6B10;
}

#content{
background: white;
border-bottom: 5px solid #93D771;
}


/* ---------------------------------------- */

#homepage .element{
margin-top: 30px;
}

.search_bar{
background: #D3F3B9;
padding: 7px 15px;
text-align:center;
}

#SentenceSearchForm{
display:inline;
margin-right: 15px;
}

#SentenceSearchForm div.input{
display:inline;
}

#SentenceSearchForm div.input input{
width: 50%;
}

#SentenceSearchForm div.submit{
display:inline;
}


#flashMessage, #authMessage{
font-size: 16px;
border: 1px solid #c1c1c1;
background: #f1f1f1;
color: #878787;
padding: 5px 10px;
margin-top: 10px;
margin-bottom: 20px;
text-align: center;
}


/* STATISTICS */
.total{
background: #989898;
color: white;
font-weight: bold;
}

/* PAGINATION */
.pagination{
margin-bottom: 20px;
text-align:center;
}

.pagination a{
padding: 3px 5px;
margin: 3px;
background: #D3F3B9;
border: 1px solid #75C34B;
}

.pagination strong{
padding: 3px 5px;
margin: 3px;
background: #f1f1f1;
border: 1px solid #d1d1d1;
}

.pagination span.selected{
border: 1px solid #75C34B;
padding: 3px 5px;
margin: 3px;
background: #9FD374;
color: white;
font-weight:bold;
}

/* TIPS */
.tips{
margin: 10px 0px;
padding: 5px 10px;
font-size: 16px;
border: 1px solid #c1c1c1;
background: #f1f1f1;
color: #878787;
}

.tips a{
margin-left: 10px;
}