body {
	padding:0;
	margin: auto;
	font-family: Trebuchet MS, sans;
	color: #434343;
	color: #333333;/*J'hésite entre les deux ou alors un noir total*/
}

a img {
	border:none;
}

a {
	color:#649B3D;
	text-decoration:none;
}

a:hover{
	cursor: pointer;
	text-decoration:underline;
}

h2, h3, h4{
	font-variant: small-caps;
}

h3{
	margin-left: 20px;
	border-bottom: 1px solid;
	color:#E55F0E;
}

h4{
	margin: 10px 0px 5px 20px;
	color:#E55F0E;
	font-size:1.1em;
}

table {
	border-collapse:collapse;
	width:100%;
}

/* User Menu */

div#user_menu {
	height:24px;
	border-bottom:1px dotted #CCCCCC;
	background-color:#414141;
	color:#FFFFFF;
}

div#menu_content {
	margin-left:auto;
	margin-right:auto;
	width:950px;
}

div#user_menu a {
	color:#FFFFFF;
}

div#user_menu form {
	display:inline;
}

div#user_menu input, div#user_menu select {
	margin:2px 0px 2px 5px;
	height: 20px; /* Need to specify height otherwise in Firefox 3.5 (and perhaps other browsers) the height is too big */
}

/* User Menu : Main Menu */

div#navigation_menu {
	text-align:left;
	display:inline;
}

div#navigation_menu ul {
	margin:0;
	padding:0;
	display:inline;
}

div#navigation_menu ul li {
	list-style-type:none;
	display:inline;
	margin-right: 16px;
	font-size:0.9em;
}
div#navigation_menu ul li a{
	text-decoration:none;
	color:#FFFFFF;
	font-size:0.9em;
}


div#navigation_menu ul li.show {
	font-weight:bold;
	font-size:1em;
}

div#navigation_menu ul li.show a {
	color:#FFFFFF;
}
div#navigation_menu ul li a:hover {
	color:#FB6B10;
}

div#navigation_menu ul li a.whats_new {
	color:#FFCC00;
	font-weight:bold;
}


/* User Menu : Interface Language Selector */

div#interfaceLanguageSelector {
	float:right;
	font-size:0.8em;	
}

span#onlineVisitors {
	margin-left:10px;	
}


/* Container */

div#container {
	margin-left:120px;
	min-width: 760px;
}


/* Search bar */

div.search_bar_container{
	position:relative;
	margin-right: 270px;
}

div.search_bar_left, div.search_bar_right{
	position: absolute;
	top:0px;
	height: 50px;
	width: 40px;
}

div.search_bar_left{
	left:0px;
	background: url(../img/search_bar_left.png) no-repeat left;
}

div.search_bar_right{
	right: 0px;
	background: url(../img/search_bar_right.png) no-repeat right;
}


div.search_bar {
	height: 50px;
	background: url(../img/search_bar_body.png) repeat;
	position: relative;
	color:#FFFFFF;
	margin: 0px 40px 20px 40px;
}

div.search_bar a{
	font-size:0.9em;
	color:#FFFFFF;
	display:block;
	margin-top: 24px;
}

div.search_bar a:hover{
	color:#FFFFFF;
}

div.search_bar span#into {
	font-family:Arial, Sans-serif;
	font-size:1.3em;
	margin-top: 20px;
	width: 2%;
	text-align: center;
}

div.search_bar div.select{
	width: 12%;
}

div.search_bar div.input{
	width: 50%;
}

div.search_bar div.submit{
	width: 15%;
	margin-top: 22px;
}

div.search_bar a{
	display: block;
	float: left;
	text-align: center;
	width: 2%;
}

div.search_bar div, div.search_bar span#into{
	display: block;
	float: left;
	margin-right: 1%;
}

#SentenceSearchForm label{
	font-size: 0.8em;
}

#SentenceSearchForm{
	display: inline;
	font-size: 1em;
}

#SentenceSearchForm input#SentenceQuery, div.search_bar select, div.search_bar div.submit input{
	width: 99%;
}
	
	
div.search_bar div.submit input{
height: 24px; /* because with Chinese interface the height is too big */
padding-bottom: 2px;
}

div.search_bar div.select select{
	height: 22px; /* because with Chinese interface the height is too big */
}


/* Content : when a page is not split into 2 parts*/

div#content {
	font-size:0.8em;
	border:1px dotted #D1D1D1;
}

/* Module : when a page is split into 2 main parts */

div#annexe_content {
	float:right;
	width: 250px;
	font-size:0.8em;
}

div#main_content {
	margin-right: 270px;
	font-size:0.8em;
}



div.module {
	/*border:1px dotted #D1D1D1;*/
	padding:10px 10px 5px 10px;
	margin:0px 0px 20px 0px;
	background: url(../img/module_background.png) repeat-x bottom left;
}

div#main_content div.module {
	margin-right:5px;
}

div#annexe_content div.module {
	margin-left:5px;
}

div.module h2 {
	background: url('../img/title_4.png') no-repeat top left;
	padding-left: 10px;
	margin:0 0 15px 0;
	font-size:1.5em;
}

div.module h2 span.annexe {
	font-variant:normal;
	font-weight:normal;
	font-size:0.8em;
}

div.main_module {
	font-size:1.25em;
	padding:20px 20px 10px 20px;
	
}

div.main_module h2 {
	font-size:1.5em;
	border-bottom:none;
	margin:18px 0;
}


div#annexe_content div.module ul {
	margin:5px 0px;
	padding-left:20px;	
}

div#annexe_content div.module ul li {
	list-style-type:none;
}
	
/* Footer */

/*
div#footer {
	text-align:center;
	font-size:0.9em;
}
*/

div#footer {
	background: #e3e0d6;
	height: 40px;
	clear: both;
}

div#footer a {
	color: #5c5c5c;
	cursor: pointer;
	text-decoration: none;
}

div#footer ul {
	height: 38px;
	margin: 0;
	display: block;
	float: right;
	font-size: 80%;
}

div#footer ul li {
	display: block;
	height: 38px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	float: left;
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
}


/* HTML Elements */

p.more_link {
	text-align:right;
}


div.module ul.menu .selected a {
	color:#257D0C;
}

/* HEADER */

div#header{
	width: 100px;
	float: left;
}