table#usersStatistics{
width: 300px;
text-align: center;
}

table#userStatistics{
width: 300px;
}

#userStatistics td{
padding: 2px 5px;
}


/* SENTENCES STATS */
.sentencesStats{
font-size: 16px;
padding: 5px 10px;
float: right;
background: #f0f0f0;
border: 1px solid #dfdfdf;
margin-top: 10px;
}

.sentencesStats ul{
margin-top: 15px;
}

.sentencesStats li{
margin: 5px;
}

.sentencesStats .stat{
padding-left: 35px;
}

.stat .tooltip{
display: none;
}

.stats_en{
background:transparent url(../img/en.png) no-repeat scroll left center;
}

.stats_jp{
background:transparent url(../img/jp.png) no-repeat scroll left center;
}

.stats_fr{
background:transparent url(../img/fr.png) no-repeat scroll left center;
}

.stats_de{
background:transparent url(../img/de.png) no-repeat scroll left center;
}

.stats_es{
background:transparent url(../img/es.png) no-repeat scroll left center;
}