#usersStatistics{
width: 600px;
text-align: center;
margin: 20px auto;
border: 1px #6CBC70 solid;
}

#usersStatistics td{
padding: 5px;
border-bottom: 1px #cccccc solid;
}

#usersStatistics th{
background-color: #6CBC70;
padding: 5px;
}

#usersStatistics tr.admin{
background-color: #FFCCCC;
}

#usersStatistics tr.normal{
}

#usersStatistics tr.pending{
background-color: #CCCCCC;
}

/* SENTENCES STATS */
.sentencesStats{
font-size: 16px;
padding: 5px 10px;
float: right;
background-color: #f0f0f0;
border: 1px solid #dfdfdf;
margin-top: 10px;
margin-left: 10px;
}

.sentencesStats ul{
margin-top: 15px;
list-style: none;
margin: 0;
padding: 0;
}

.sentencesStats li{
margin: 5px;
}

.sentencesStats .stat{
padding-left: 35px;
}

.stat .tooltip{
display: none;
}

.stats_en{
background:transparent url(../img/en.png) no-repeat scroll left center;
}

.stats_jp{
background:transparent url(../img/jp.png) no-repeat scroll left center;
}

.stats_fr{
background:transparent url(../img/fr.png) no-repeat scroll left center;
}

.stats_de{
background:transparent url(../img/de.png) no-repeat scroll left center;
}

.stats_es{
background:transparent url(../img/es.png) no-repeat scroll left center;
}

.stats_zh{
background:transparent url(../img/zh.png) no-repeat scroll left center;
}


/* TIMELINE */
#timeline{
overflow: hidden;
width: 100%;
}

#timeline td{
padding: 0px;
border: 1px solid #FFFFFF;
}

#timeline .date{
text-align: right;
padding-right: 5px;
color: #545454;
}

#timeline .number{
text-align: center;
padding: 0px 5px;
color: #111111;
border-right: 1px solid #767676;
}

#timeline .logs_stats{
height: 12px;
border: 1px solid #c1c1c1;
border-left: none;
}

.color0{
background: #EDF9FF;
}

.color1{
background: #E2FFF0;
}

.color2{
background: #D1FFD1;
}

.color3{
background: #D4FFBF;
}

.color4{
background: #E8FFBA;
}

.color5{
background: #FFFFB2;
}

.color6{
background:#FFE5B2;
}

.color7{
background: #FFD8B2;
}

.color8{
background: #FFCCB2;
}

.color9{
background: #FFBFB2;
}

.color10{
background: #FF947F;
}