<?php

define("TATOEBA_DOMAIN", "localhost");
define("JS_PATH", "");
define("IMG_PATH", "");

return [
    'Security' => [
        'salt' => '{{security_salt}}',
    ],

# You can disable debug to run like production runs
#    'debug' => false,

    'Datasources' => [
        'default' => [
            'username' => '{{mysql_user}}',
            'password' => '{{mysql_password}}',
            'database' => '{{mysql_db_name}}',
#            'log' => true, // log all SQL queries to logs/queries.log
        ],
        'test' => [
            'username' => '{{mysql_test_user}}',
            'password' => '{{mysql_test_password}}',
            'database' => '{{mysql_test_db_name}}',
#            'log' => true, // log all SQL queries to logs/cli-queries.log during tests
        ],
        'wiki' => [
            'className' => 'Cake\Database\Connection',
            'driver' => 'Cake\Database\Driver\Sqlite',
            'database' => '{{tatowiki_sqlite_file}}',
            'flags' => [PDO::SQLITE_ATTR_OPEN_FLAGS => PDO::SQLITE_OPEN_READONLY],
            'init' => [
                'PRAGMA journal_mode=WAL', // Enable WAL mode to fix locking issues
            ],
#            'log' => true, // log all SQL queries to logs/queries.log
        ],
        'test_wiki' => [
            'className' => 'Cake\Database\Connection',
            'driver' => 'Cake\Database\Driver\Sqlite',
            'database' => ':memory:',
            'flags' => [], // No read-only flag here to allow fixtures creation
#            'log' => true, // log all SQL queries to logs/cli-queries.log during tests
        ],

    ],

    /**
     * Tatowiki basehost without the language part.
     * See also Datasources.wiki above.
     */
    'Tatowiki' => [
        'baseHost' => '{{tatowiki_domain}}:8080',
    ],

    /**
     * Manticore configuration
     */
    'Sphinx' => [
        'host' => 'localhost',
        'port' => 9312,
        'sphinxql_port' => 9306,
        'indexdir' => '{{manticore_index_dir}}',
        'socket' => '{{manticore_sql_socket}}',
        'logdir' => '{{manticore_log_dir}}',
        'pidfile' => '{{manticore_pid_file}}',
        'binlog_path' => '{{manticore_binlog_path}}',
    ],

    /**
     * Recordings paths.
     * Admins may import audio files located in <Recordings.uploadPath>,
     * which end up stored by CakePHP inside <Recordings.path>.
     * Webserver must have write access in both paths.
     */
    'Recordings' => [
        'path' => WWW_ROOT.'files'.DS.'audio',
        'importPath' => WWW_ROOT.'files'.DS.'audio_import',
    ],

    /**
     * Exports paths.
     * The webserver must serve <Exports.path> under <Exports.url>, to serve
     * files using the X-Accel/X-Sendfile feature. For example, for Nginx:
     *
     *   location <Exports.url> {
     *     internal;
     *     alias <Exports.path>;
     *   }
     *
     * Both must end with a slash character. <Exports.path> must be writable
     * by the PHP process, and reside outside of webroot/, so that the exported
     * files can only be served after authentication by CakePHP.
     * If <Exports.maxSizeInBytes> if greater than zero, Tatoeba will try to keep
     * <Exports.path> size below that value by removing old exports.
     */
    'Exports' => [
        'url'  => '/exported_files/',
        'path' => ROOT.'/exported_files/',
        'maxSizeInBytes' => 1024**3,
    ],

    /**
     * For email notifications.
     * Cf. src/Event/NotificationListener.php
     */
     'EmailTransport' => [
        'local' => [
            'className' => 'Local',
            'log' => true,
        ],
        'gmail' => [
            'host' => 'ssl://smtp.gmail.com',
            'port' => '465',
            'timeout' => '45',
            'username' => 'some.random.gmail.address@gmail.com',
            'password' => 'some.password',
            'className' => 'Smtp'
        ],
        'debug' => [
            'className' => 'Debug'
        ]
    ],
        
    'Email' => [
        'default' => [
            'from' => 'user@example.com',
            'transport' => 'debug',
            'emailFormat' => 'html',
          //'log' => true,
        ],
    ],

    /**
     * Enable or disable external tools.
     * - Set Search.enabled to false if you don't have Sphinx installed.
     * - Set AutoTranscriptions.enabled to false if you don't have the
     *   various transcription tools installed, or if you simply don't
     *   want to have transcriptions automatically generated for new
     *   sentences.
     */
    'Search' => [
        'enabled' => true,
    ],
    'AutoTranscriptions' => [
        'enabled' => true,
    ],

    'Tatoeba' => [
        /**
         * Stylesheet for development website
         */
        'devStylesheet' => false,

        /**
         * Email recipient of inappropriate content reports,
         * blocked users notifications etc.
         */
        'communityModeratorEmail' => 'community-admin@example.com',
    ],

    /**
     * Languages of the interface.
     *
     * UI.languages is a mapping from URL language identifiers to language
     * information. The URL language identifiers must identify the language by
     * following BCP 47 (with the additional restriction of being lowercase).
     *
     * The language information can be either:
     * - a string => redirects all requests to different language (only one
     *               level of redirection is allowed)
     * - an array containing:
     *   [0] The name of the language. The name must be in the
     *       language itself, so that people who speak that language can
     *       recognize it.
     *   [other keys] Locales that should match the language if sent by the
     *                browser in the Accept-Language HTTP header (the language
     *                identifier itself is also considered as a valid
     *                Accept-Language match).
     * - null => Convenience alias for 'en' (redirect to English; used for
     *           disabling unmaintained languages)
     */
    'UI' => [
        'languages' => [
            // Assamese
            'as' => ['অসমীয়া'], 'asm' => 'as',
            // Arabic
            'ar' => ['العربية'], 'ara' => 'ar',
            // Azerbaijani
            'az' => ['Azərbaycanca'], 'aze' => 'az',
            // Baluchi
            'bal' => ['بلۏچی'],
            // Basque
            'eu' => ['Euskara'], 'eus' => 'eu',
            // Belarusian
            'be' => ['Беларуская'], 'bel' => 'be',
            // Bengali
            'bn' => ['বাংলা'], 'ben' => 'bn',
            // Bulgarian
            'bg' => ['Български'], 'bul' => 'bg',
            // Breton
            'br' => ['Brezhoneg'], 'bre' => 'br',
            // Catalan
            'ca' => ['Català'], 'cat' => 'ca',
            // Chinese
            'zh-cn' => ['中文（大陆简体）',
                        'zh', 'zh-hans-cn', 'zh-mo', 'zh-hans-mo',
                        'zh-my', 'zh-hans-my', 'zh-sg', 'zh-hans-sg'],
            'chi' => 'zh-cn',
            'cmn' => 'zh-cn',
            'zh-tw' => ['中文（臺灣正體）', 'zh-hant-tw', 'zh-hk', 'zh-hant-hk'],
            // Chinese (Wu)
            'wuu' => ['吳語'],
            // Croatian
            'hr' => ['Hrvatski'], 'hrv' => 'hr',
            // Czech
            'cs' => ['Čeština'], 'ces' => 'cs',
            // Danish
            'da' => ['Dansk'], 'dan' => 'da',
            // Dutch
            'nl' => ['Nederlands'], 'nld' => 'nl',
            // German
            'de' => ['Deutsch'], 'deu' => 'de',
            // Greek
            'el' => ['Ελληνικά'], 'ell' => 'el', 'gre' => 'el',
            // English
            'en' => ['English'], 'eng' => 'en',
            // Esperanto
            'eo' => ['Esperanto'], 'epo' => 'eo',
            // Estonian
            'et' => ['Eesti'], 'est' => 'et',
            // Filipino
            'fil' => ['Filipino'],
            // Finnish
            'fi' => ['Suomi'], 'fin' => 'fi',
            // French
            'fr' => ['Français'], 'fra' => 'fr', 'fre' => 'fr',
            // Frisian
            'fy' => ['Frysk'], 'fry' => 'fy',
            // Galician
            'gl' => ['Galego'], 'glg' => 'gl',
            // Georgian
            'ka' => ['ქართული'], 'kat' => 'ka',
            // Gronings
            'gos' => ['Grunnegs'],
            // Hindi
            'hi' => ['हिन्दी'], 'hin' => 'hi',
            // Ho
            'hoc' => ['𑢹𑣉𑣉 𑣎𑣁𑣋𑣁𑣜'],
            // Hungarian
            'hu' => ['Magyar'], 'hun' => 'hu',
            // Indonesian
            'id' => ['Bahasa Indonesia'], 'ind' => 'id',
            // Interlingua
            'ia' => ['Interlingua'], 'ina' => 'ia',
            // Icelandic
            'is' => ['Íslenska'],
            // Italian
            'it' => ['Italiano'], 'ita' => 'it',
            // Japanese
            'ja' => ['日本語'], 'jpn' => 'ja',
            // Kabyle
            'kab' => ['Taqbaylit'],
            // Korean
            'ko' => ['한국어'], 'kor' => 'ko',
            // Kurdish
            'ku' => ['Kurdî'], 'kur' => 'ku',
            // Latin
            'la' => ['Latina'], 'lat' => 'la',
            // Lithuanian
            'lt' => ['Lietuvių'], 'lit' => 'lt',
            // Lojban
            'jbo' => ['Lojban'],
            // Low German (Low Saxon)
            'nds' => ['Plattdüütsch'],
            // Marathi
            'mr' => ['मराठी'], 'mar' => 'mr',
            // Malay
            'ms' => ['Bahasa Melayu'], 'zsm' => 'ms',
            // Occitan
            'oc' => ['Occitan'], 'oci' => 'oc',
            // Polish
            'pl' => ['Polski'], 'pol' => 'pl',
            // Portuguese
            'pt-br' => ['Português (Brasil)', 'pt', 'pt-pt'],
            'por' => 'pt-br',
            'pt_BR' => 'por',
            // Romanian
            'ro' => ['Română'], 'ron' => 'ro',
            // Russian
            'ru' => ['Русский'], 'rus' => 'ru',
            // Santali
            'sat' => ['ᱥᱟᱱᱛᱟᱲᱤ'],
            // Saraiki
            'skr' => ['سرائیکی'],
            // Serbian
            'sr' => ['српски'], 'srp' => 'sr',
            // Slovak
            'sk' => ['Slovenčina'], 'slk' => 'sk',
            // Spanish
            'es' => ['Español'], 'spa' => 'es',
            // Swedish
            'sv' => ['Svenska'], 'swe' => 'sv',
            // Tagalog
            'tl' => ['Tagalog'], 'tgl' => 'tl',
            // Turkish
            'tr' => ['Türkçe'], 'tur' => 'tr',
            // Turkmen
            'tk' => ['Türkmen dili'], 'tuk' => 'tk',
            // Toki Pona
            'tok' => ['toki pona'],
            // Tatar
            'tt' => ['Татар'],
            // Ukrainian
            'uk' => ['Українська'], 'ukr' => 'uk',
            // Uyghur
            'ug' => ['ئۇيغۇرچە'], 'uig' => 'ug',
            // Uzbek
            'uz' => ['Oʻzbekcha'],  'uzb' => 'uz',
            // Vietnamese
            'vi' => ['Tiếng Việt'], 'vie' => 'vi',
            // Welsh
            'cy' => ['Cymraeg'], 'cym' => 'cy',
            // Zaza
            'zza' => ['Kirmancki'],
        ],
    ],

    /**
     * Ids of users (bots) whose comments are hidden from homepage
     * and index page to prevent spam.
     */
    'Bots' => [
        'userIds' => [
        ],
    ],

    /**
     * Announcement message displayed below the search bar. This should be used
     * when we want some information or message to have higher visibility, and
     * not just something that will be noticed mostly by regular members who
     * read the Wall.
     *
     * The message of the announcement has to be set in
     * src/Template/Element/announcement.ctp
     *
     *   enabled: set to true to activate announcement, false otherwise.
     * hideAfter: set to a date time to make it automatically disappear at
     *            some point, comment out otherwise.
     * maintenance: used for scheduled maintenance. Set 'start' to a datetime
     *              in the future to display a maintenance announcement,
     *              (in addition to the announcement above). Additionally, you
     *              can set 'end' to a datetime after 'start' to include the
     *              estimated maintenance duration in the maintenance message.
     */
    'Announcement' => [
        'enabled' => false,
#        'hideAfter' => '2020-05-21 18:20 UTC',
        'maintenance' => [
            'start' => '2025-01-02 01:00 UTC',
            'end'   => '2025-01-02 02:00 UTC',
        ]
    ],

    /**
     * Base path and base URL for the downloadable database exports.
     */
    'Downloads' => [
        'path' => '/var/www-downloads/exports/',
        'url' => 'http://downloads.tato.test:8080/exports/',
    ],
];
