[Unit]
Description=Suggest Deamon
After=mysql.service

[Service]
User=suggestd
Environment=DAEMON_OPTS=
EnvironmentFile=-/etc/default/suggestd
ExecStart=/usr/local/bin/suggestd $DAEMON_OPTS

[Install]
WantedBy=multi-user.target
