/*
 * Based on http: //templatica.com/articles/comments/02.html
 */
 
.comments, .comments ul, #comments li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments li {
    margin: 1.5em 0;
    position: relative;
    font-size: 13px;
}

.comments a {
    color: #89c140;
    text-decoration: none;
}

.comments a:hover {
    color: #555;
}


/*
 * Meta
 */
.comments .meta {
    height: 36px;
    padding: 5px;
}    

.comments .image {
    float: left;
    margin-right: 10px;
}

.comments .author {
    font-weight: bold;
    padding-left: 10px;
}

.comments .date {
    color: #999;
    font-style: italic;
    font-size: 11px;
}
    
.comments .actions {
    float: right;
    margin-top: 15px;
}


/*
 * Body
 */
.comments .body {
    background: #FFF url(../../img/bg_comments.gif) repeat-x;
}

.comments .sentence {
    padding: 15px 15px 10px 15px;
    border-bottom: 1px dashed #CCC;
    font-family: Georgia, serif;
}

.comments .sentenceText {
    color: #878787;
}

.comments .ownerName {
    color: #AF924D;
    padding: 0px 5px;
}

.comments .commentText {
    padding: 15px;
}


/*
 * Comment form
 */
#SentenceCommentSaveForm {
    background: #F1F1F1;
    border: 1px solid #CCC;
    padding: 20px;
}

#SentenceCommentSaveForm textarea {
    width: 100%;
}